 // Variables
 $primary: #e4dfdf;

 * {
   box-sizing: border-box;
 }

 // feedbackform page
 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
 }

 .stars {
   display: flex;
   flex-direction: row;
   margin-right: 12px;
   cursor: pointer;
 }

 .textarea {
   border: 1px solid #a9a9a9;
   border-radius: 5px;
   padding: 10px;
   margin: 40px 0 10px 0;
   min-height: 100px;
   width: 300px;
   height: 150px;
 }

 .submit-feedback-button {
   border: 1px solid #a9a9a9;
   border-radius: 5px;
   width: 300px;
   padding: 10px;
   cursor: pointer;
   background-color: rgb(7, 7, 102);
   color: white;

 }



 // Image upload form
 .section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .image-form {
   margin-top: 150px;
 }

 .field {
   margin-top: 40px;
 }

 .input {
   height: 40px;
   width: 300px;
 }

 .img-submit-button {
   background-color: rgb(7, 7, 102);
   color: white;
   border: 1px solid #a9a9a9;
   border-radius: 5px;
   width: 300px;
   padding: 10px;
 }



 // common
 .site-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }

 main {
   background-color: $primary;
   flex-grow: 1;
 }



 // Form 
 .form-page {
   form {
     background: #d6d3d3;
     padding: 40px;
     border-radius: 18px;

     label {
       font-size: 0.9rem;
     }

     input {
       width: 100%;
       margin-bottom: 15px;
       border: none;
       padding: 5px;
     }

     button {
       width: 200px;
       max-width: 100%;
     }

     small {
       display: block;
       margin-bottom: 15px;
       color: rgb(163, 2, 2);
     }
   }
 }

 .btn-main {
   background-color: darken($primary, 15%);

   &:hover {
     background-color: darken($primary, 20%);
   }
 }