* {
  box-sizing: border-box;
}

// Variables
$primary: #e4dfdf;


// common
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: $primary;
  flex-grow: 1;
}



// Form 
.form-page {
  form {
    background: #d6d3d3;
    padding: 40px;
    border-radius: 18px;

    label {
      font-size: 0.9rem;
    }

    input {
      width: 100%;
      margin-bottom: 15px;
      border: none;
      padding: 5px;
    }

    button {
      width: 200px;
      max-width: 100%;
    }

    small {
      display: block;
      margin-bottom: 15px;
      color: rgb(163, 2, 2);
    }
  }
}